.upload-dialog{
  min-width: 520px;
  .upload-border{
    border:1px solid black;
    width:100%;
  }
  input[type=file]{
    border-bottom: 1px solid #333;
    width: 89%;
    &:focus{
      outline: none;
      border-bottom: 1px solid #333;
    }
  }
  input[type=file]::-webkit-file-upload-button {
    width: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    border: none;
    border:0px;
    border: none;
  }

  x::-webkit-file-upload-button, input[type=file]:after {
    content: 'Browse...';
    left: 100%;
    margin-left: 3px;
    position: relative;
    -webkit-appearance: button;
    padding: 3px 8px 2px;
  }

  .save-btn , .browse-btn{

  }
}
