.panels-heading{
    .panel-heading{
        font-size: 16px;
        font-weight: bold;  
        padding:0 15px 15px;
    }
}

.checkbox-active{
  margin-top: 5px;
}

.required-error-message{
    width: 100%;
    text-align: center;
    padding: 6px;
    border-radius: 2px;
    margin-top: 3px;
    background-color: #FFE2E2;
    color: #FF0000;
    font-size: 14px;
    height: 30px;
    margin-bottom: 10px;
}