<div class="panel panel-default custom-container">
  <div class="panel-heading">
    <div class="pull-left headingContainer">
      Proposal Line Items
    </div>
    <div class="pull-right">
      <dt-search [ddArray]="proposalSearchTableDD" (onDTSearch)="proposalSearchEvent($event)"></dt-search>
    </div>
  </div>
  <div class="panel-body noPadding transparent-bg">
    <dt-table [config]='proposalListDTConfig' [reload]="proposalListRefresh" [searchColIndex]="proposalListSearchModel.colIndex"
      [searchText]="proposalListSearchModel.searchTxt" (onMenuSelect)="onProposalTableMenuSelect($event)"></dt-table>
  </div>
</div>