$medium-gray-color: #bdbdbd;
$mainFontFamily: 'Source Sans Pro', sans-serif !important;
$primaryColor:#262626;
$secondaryColor: #3e3e3e;
$highlightColor: #f87e00;
$txtColor:#a8a8b2;
$body-bg-color: #eaeef3;
$headerBg: #f8f8f8;
$saveButtonColor: #00b233;
$resetButtonColor: #9a9a9a;
$side-menu-hover-color:#2b3453;


