<alert type="success" style="position: fixed; top: 12%; width: 80%; z-index: 9999; text-align: center;" [hidden]="isMessageBoxHidden">
  <strong>{{successMessage}}</strong>
</alert>

<div class="panel panel-default custom-container noBottomMargin noBottomRadius">
  <div class="panel-heading">
    <div class="pull-left headingContainer">
      <span class="heading-arrow" (click)="backToTable()"></span> <span *ngIf="lineItemName?.length > 0">{{lineItemName}}</span>
      <span *ngIf="!lineItemName">Add New Proposal Line Item</span>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-12 required-error-message" *ngIf="errorMessage">{{errorMessage}}</div>
    <form [formGroup]="lineitemForm">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <md-input-container class="full-width fl required" [ngClass]="{'has-error':!lineitemForm.controls['name'].valid}">
            <input mdInput type="text" [(ngModel)]="currentLineItem.name" placeholder="Line Item Name" (click)="removeValidators(lineitemForm.controls['name'],false)"
              [formControl]="lineitemForm.controls['name']" />
          </md-input-container>
        </div>
        <div class="col-sm-4 col-md-4">
          <dl>
            <dt class="dd-label required">Product</dt>
            <dd>
              <div class="custom-multi-select-dd margin-top single-select">
                <div class="customHeightDropdown" [ngClass]="{'has-error':!lineitemForm.controls['product'].valid}">
                  <!-- <ss-multiselect-dropdown [options]="productOptions" [settings]="singleSelectSettings" [(ngModel)]="productOptionsModel" name="product"
                    formControlName="product" (click)="removeValidators(lineitemForm.controls['product'],false)" (ngModelChange)="onProductChange($event)">
                  </ss-multiselect-dropdown> -->

                  <ss-multiselect-dropdown [options]="productOptions" [settings]="singleSelectSettings" [(ngModel)]="productOptionsModel" name="product"
                    formControlName="product" (ngModelChange)="onProductChange($event)">
                  </ss-multiselect-dropdown>
                </div>
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-sm-4 col-md-4">
          <dl>
            <dt class="dd-label required">Ad Units</dt>
            <dd>
              <div class="custom-multi-select-dd margin-top">
                <div [ngClass]="{'has-error':!lineitemForm.controls['adUnits'].valid}">
                  <ss-multiselect-dropdown [options]="adUnitOptions" [texts]="textSetting" [settings]="multiSelectSelectSettings" [(ngModel)]="adUnitOptionsModel"
                    [disabled]="disabledFormElements" name="adUnits" formControlName="adUnits" (click)="removeValidators(lineitemForm.controls['adUnits'],false)">
                  </ss-multiselect-dropdown>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="custom-date-picker">
            <md-input-container class="required" [ngClass]="{'has-error':!lineitemForm.controls['startDate'].valid}">
              <input mdInput *ngIf="!currentLineItem['isNewProposalLineItemStartDateOpen']" [value]="currentLineItem.flightStartdate | date: 'dd-MMM-yyyy'"
                [ngModel]="currentLineItem.flightStartdate" placeholder="Start Date" [readonly]="true" (click)="removeValidators(lineitemForm.controls['startDate'],false)"
                formControlName="startDate" [formControl]="lineitemForm.controls['startDate']">
              <input mdInput *ngIf="currentLineItem['isNewProposalLineItemStartDateOpen']" placeholder="Start Date" [readonly]="true">
              <button mdSuffix [mdDatepickerToggle]="" (click)="currentLineItem['isNewProposalLineItemStartDateOpen'] = !currentLineItem['isNewProposalLineItemStartDateOpen']"></button>
            </md-input-container>
            <div class="date-picker-container" *ngIf="currentLineItem['isNewProposalLineItemStartDateOpen']">
              <datepicker [showWeeks]="false" [(ngModel)]="currentLineItem.flightStartdate" [minDate]="currentDate" formControlName="startDate"
                [minDate]="minDateValue" (selectionDone)="startDateChanged($event); currentLineItem['isNewProposalLineItemStartDateOpen']=false"></datepicker>
            </div>
          </div>

        </div>
        <div class="col-sm-4 col-md-4">
          <div class="custom-date-picker">
            <md-input-container class="required" [ngClass]="{'has-error':!lineitemForm.controls['endDate'].valid}">
              <input mdInput *ngIf="!currentLineItem['isNewProposalLineItemEndDateOpen']" [value]="currentLineItem.flightEndDate | date: 'dd-MMM-yyyy'"
                [ngModel]="currentLineItem.flightEndDate" placeholder="End Date" [readonly]="true" (click)="removeValidators(lineitemForm.controls['endDate'],false)"
                formControlName="endDate" [formControl]="lineitemForm.controls['endDate']">
              <input mdInput *ngIf="currentLineItem['isNewProposalLineItemEndDateOpen']" placeholder="End Date" [readonly]="true">
              <button mdSuffix [mdDatepickerToggle]="" (click)="currentLineItem['isNewProposalLineItemEndDateOpen'] = !currentLineItem['isNewProposalLineItemEndDateOpen']"></button>
            </md-input-container>
            <div class="date-picker-container" *ngIf="currentLineItem['isNewProposalLineItemEndDateOpen']">
              <datepicker [showWeeks]="false" [(ngModel)]="currentLineItem.flightEndDate" [minDate]="currentDate" formControlName="endDate"
                [minDate]="minDateValue" (selectionDone)="endDateChanged($event); currentLineItem['isNewProposalLineItemEndDateOpen']=false"></datepicker>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-default custom-container noBottomMargin noBottomRadius">
  <div class="panel-heading med-heading">
    <div class="pull-left headingContainer">
      Targeting
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <dl>
          <dt class="dd-label">Target Type</dt>
          <dd>
            <div class="custom-multi-select-dd margin-top single-select">
              <ss-multiselect-dropdown [options]="targetTypeOptions" [settings]="singleSelectSettings" [(ngModel)]="targetTypeOptionsModel"
                [ngModelOptions]="{standalone: true}" (ngModelChange)="onTargetTypeChange($event)">
              </ss-multiselect-dropdown>
            </div>
          </dd>
        </dl>
        <span *ngIf="targetTypeOptionsModel?.length > 0">
        <select-list [dataList]="audienceTargetValues" [type]="'multi-select'" (onSelect)="onAudienceTargetValuesSelect($event)"></select-list>
        </span>
      </div>
      <div class="col-sm-6 col-md-6">
        <!--<dt-table [config]='targetTypeConfig' [data]="newRowsAdded" (onMenuSelect)="onTargetTypeMenuSelect($event)"></dt-table>-->
        <dt-table-clientside [config]='targetTypeConfig' [data]="newRowsAdded" (onMenuSelect)="onTargetTypeMenuSelect($event)"></dt-table-clientside>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4 " *ngIf="targetTypeOptionsModel?.length > 0">
        <button type="button" class="btn btn-sm btn-default" (click)="addTargetType()" [disabled]="disabledTargetType">Add</button>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default custom-container noBottomMargin noBottomRadius">
  <div class="panel-heading med-heading">
    <div class="pull-left headingContainer">
      Delivery
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <dl>
          <dt class="dd-label required">Delivery Impressions</dt>
          <dd>
            <div class="custom-multi-select-dd margin-top">
              <div class="customHeightDropdown">
                <ss-multiselect-dropdown [options]="deliveryOptions" [settings]="singleSelectSettings" [(ngModel)]="deliveryOptionsModel">
                </ss-multiselect-dropdown>
              </div>
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-sm-4 col-md-4">
        <dl>
          <dt class="dd-label required">Display Creatives</dt>
          <dd>
            <div class="custom-multi-select-dd margin-top">
              <div class="customHeightDropdown">
                <ss-multiselect-dropdown [options]="displayCreativeOptions" [settings]="singleSelectSettings" [(ngModel)]="displayCreativeOptionsModel">
                </ss-multiselect-dropdown>
              </div>
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-sm-4 col-md-4">
        <dl>
          <dt class="dd-label required">Rotate Creatives</dt>
          <dd>
            <div class="custom-multi-select-dd margin-top">
              <div class="customHeightDropdown">
                <ss-multiselect-dropdown [options]="rotateCreativeOptions" [settings]="singleSelectSettings" [(ngModel)]="rotateCreativeOptionsModel">
                </ss-multiselect-dropdown>
              </div>
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-sm-4 col-md-4">
        <dl>
          <dt class="dd-label required">Rate Type</dt>
          <dd>
            <div class="custom-multi-select-dd margin-top">
              <div class="customHeightDropdown">
                <ss-multiselect-dropdown [options]="rateOptions" [settings]="singleSelectSettings" [(ngModel)]="rateOptionsModel">
                </ss-multiselect-dropdown>
              </div>
            </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default custom-container noBottomMargin noBottomRadius">
  <div class="panel-heading med-heading">
    <div class="pull-left headingContainer">
      Rate Card
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <md-input-container class="full-width fl required">
          <input mdInput type="text" [(ngModel)]="currentLineItem.proposedCost" placeholder="click on check price" [readonly]="true"
          />
        </md-input-container>
      </div>
      <div class="col-sm-4 col-md-4 ">
        <button type="button" (click)="checkPriceType(lineitemForm)" class="btn btn-sm btn-default">Check Price</button>
      </div>
      <div class="col-sm-4 col-md-4 text-right link-show">
        {{currentLineItem.proposedCostView}} <button type="button" (click)="viewPrice()" class="btn btn-sm btn-default">View Price Calculation</button>
        <!--<a href="" (click)="viewPrice(lineitemForm)" >View Price Calculation</a>{{currentLineItem.proposedCostView}} -->
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default custom-container noBottomMargin noBottomRadius">
  <div class="panel-heading med-heading">
    <div class="pull-left headingContainer">
      Line Item Details
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <dl>
          <dt class="dd-label required">Spec Type</dt>
          <dd>
            <div class="custom-multi-select-dd margin-top single-select">
              <ss-multiselect-dropdown [options]="specTypeOptions" [settings]="singleSelectSettings" [(ngModel)]="specTypeOptionsModel"
                [ngModelOptions]="{standalone: true}">
              </ss-multiselect-dropdown>
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-sm-4 col-md-4">
        <dl>
          <dt class="dd-label required">Priority</dt>
          <dd>
            <div class="custom-multi-select-dd margin-top single-select custom-dropdown-width">
              <ss-multiselect-dropdown [settings]="singleSelectSettings" [options]="priorityList" [(ngModel)]="priorityOptionsModel">
              </ss-multiselect-dropdown>
            </div>
          </dd>
        </dl>
      </div>
      <div class="col-sm-4 col-md-4">
        <md-input-container class="full-width fl required">
          <input mdInput type="text" [(ngModel)]="currentLineItem.cpms" placeholder="Value" OnlyNumber='true' minLimit="1" maxLimit="100" />
        </md-input-container>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <md-input-container class="full-width fl required">
          <input mdInput type="text" [(ngModel)]="currentLineItem.quantity" placeholder="Offer Impressions" OnlyNumber='true' />
        </md-input-container>
      </div>
      <div class="col-sm-4 col-md-4">
        <md-input-container class="full-width fl required">
          <input mdInput type="text" [(ngModel)]="currentLineItem.proposedCost" placeholder="Offered Price" OnlyNumber='true' />
        </md-input-container>
      </div>
      <div class="col-sm-4 col-md-4">
        <md-input-container class="full-width fl ">
          <input mdInput type="text" [(ngModel)]="currentLineItem.avails" placeholder="Avails" />
        </md-input-container>
      </div>
    </div>
  </div>
  <div class="panel-footer  text-right">
    <button type="button" class="btn btn-default" (click)="resetForm();">RESET</button>
    <button type="button" class="btn btn-success" (click)="saveForm(lineitemForm);">SAVE</button>
  </div>
</div>